<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Todo-List</h1>
    <div class="container">
        <div class="input-field">
            <input type="text" name="task" placeholder="Enter your task here" required>
        </div>
        <div class="date-category-container">
            <div class="category-field">
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="Work">Work</option>
                    <option value="Personal">Personal</option>
                    <option value="Shopping">Shopping</option>
                </select>
            </div>
            <div class="date-container">
                <label for="dueDate">Due-Date</label>
                <input type="date" name="dueDate" id="dueDate" required>
            </div>
        </div>
        <button class="btn">Add Task</button>
    </div>
</body>
</html>